<% layout('layout/app') %>


    <h1>All Places</h1>
    <!-- <a href="/places/create"> Add New Place</a> -->

    <!-- <ul> -->
        <% for(const place of places) { %>   
            <div class="card mb-3">
                <div class="row ">
                    <div class="col-md-4">  <!-- Kolom Pertama-->
                          <img src="<%= place.image %> " alt="place.title" class="img-fluid">
                    </div>    
                    <div class="col-md-8"> <!-- Kolom Kedua-->
                        <div class="card-body">
                            <h5 class="card-title"> <%= place.title %> </h5>
                            <p class="card-text"><%= place.description  %></p>
                        </div>
                    </div>
                </div>
            </div>
         
         <% } %>
    <!-- </ul> -->

