<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BestPoint - Jelajahi Bagian Dunia </title>
    <!-- link di css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="/" class="navbar-brand"> BestPoints </a>
                <!-- toggle untuk menu  -->
                <button class="navbar-toggler" type="button" data-toggle="collaps" data-targe="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                    </ul>
                </div>

            <!-- untuk login register dan log out -->
                <div class="navbar-nav">
                    <a class="nav-link" href="/places">Jelajah</a>
                    <% if(!currentUser) { %>
                    <a class="nav-link" href="/register">Register</a>
                    <a class="nav-link" href="/login">Login</a>
                    <% } else { %>
                    <a class="nav-link" 
                        href="/logout"
                        onclick="
                            event.preventDefault();
                            document.getElementById('logout-form').submit();
                            ">Logout</a>
                        <form action="/logout" id="logout-form" method="POST" style="display: none;">
                        </form>
                        <% } %>
                </div>
            </div>
        </nav>
    </header>

    <!-- judul tengah  -->
     <section class="hero-section">
        <div class="container">
            <h1> BestPoint </h1>
            <h4 class="subtitle">Discover the Best Points</h4>
        
        <div class="mt-4 btn-group-center">
            <a href="/places" class="btn btn-outline-light"> Jelajahi Tempat</a>
        </div>
        </div>
     </section>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
</body>

</html>